/* Indicator styles */

.indicator {
  width: 12px;
  height: 4px;
  transition: width 250ms ease;

  &[data-active] {
    width: 40px;
  }
}
/* Hide inactive controls */

.control {
  &[data-inactive] {
    opacity: 0;
    cursor: default;
  }
}

/* Show controls on hover */

.controls {
  transition: opacity 150ms ease;
  opacity: 0;
}

.root {
  &:hover {
    .controls {
      opacity: 1;
    }
  }
}
